@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-lighter: #eadfd2;
  --clr-light: #93a18c;
  --clr-base: #435b66;
  --clr-dark: #2d4356;
  --clr-darker: #0f2533;
}

body {
  background: linear-gradient(270deg, var(--clr-dark), var(--clr-darker));
  background-size: 400% 400%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: var(--clr-lighter);

  -webkit-animation: GradientBackground 30s ease infinite;
  -webkit-font-smoothing: antialiased;
  -moz-animation: GradientBackground 30s ease infinite;
  -moz-osx-font-smoothing: grayscale;
  animation: GradientBackground 30s ease infinite;
}

@-webkit-keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
